%p
  %h1= t('site.about.title')

%p
  %h2
    Qu'est-ce que weWorkInNice ?
  %p
    weWorkInNice est un guide ouvert, collaboratif et édité par les Personnes, Entreprises, Groupes, Projets, Produits et Ressources qui constituent la talentueuse communauté technophile, innovante et créatrive de Nice et de la Côte d'Azur.                                    
  %p
    Il fut lancé par 
    = link_to 'Nicolas Bergé', "https://twitter.com/LesSatellites"
    , 
    = link_to 'Geoffroy Couprie', "https://twitter.com/gcouprie"
    et 
    = link_to 'Emmanuel Bastien', "https://twitter.com/ebastien"
    le 15 mai 2012.
  %h2
    Je vis à Nice / sur la Côte d'Azur !
  %p
    N'est-ce pas la réponse que vous apportez lorsqu'on vous demande d'où vous venez ? Nous le savions… Bien sûr Nice et la Côte d'Azur sont facilement repérables sur une carte mais être Niçois ou Azuréen, c'est bien plus qu'être cartographiable : nous avons une identité propre et en sommes fiers. Nous nous définissons avant tout par la ville où nous vivons.
  %p
    La communauté technophile, créative et innovante niçoise et azuréenne s'agrandit jour après jour et prouve quotidiennement qu'elle est talentueuse. Sans surprise, nous voyons ses propres histoires fleurir et se propager à travers le département, la région, le pays. Et qu'entendons-nous ? : "Ca vient de Nice ! Ca vient de la Côte d'Azur !"
  %p
    Etre de Nice et de la Côte d'Azur est l'élément fondateur, essentiel et commun de toutes ces histoires. Si ça n'en fait pas partie, alors tout le monde y perd.                                                             
  %p
    Derrière cet agenda, notre objectif est de faire de Nice et de la Côte d'Azur un élément clef de toutes ces histoires autour de la communauté technophile, innovante et créative. Que cet agenda soit local est ce qui nous importe tous !
  %p
    Parallèlement, nous pouvons aider les individus qui recherchent quelqu'un ou quelque chose près de chez eux grâce à un guide libre, fiable et authentique car édité par la communauté, pour la communauté.                                          

  %h2
    Que veut dire édité par la communauté ?

  %p
    Ce guide est développé avec les mêmes idées, valeurs et principes qui ont permis aux 
    = link_to 'Satellites', "http://www.satellites-teletravail.com"
    , à 
    = link_to 'Riviera Ruby', "http://rivierarb.fr/"
    , à 
    = link_to "Wikipedia", "http://www.wikipedia.org/"
    et à d'autres communautés de grandir.
  %p
    Ce sont tous des réseaux bâtis sur une confiance qui produit ses propres systèmes de régulation. La confiance nourrit la communauté qui à son tour exige de la confiance : le cercle est vertueux.

  %p
    La plupart des guides sont aujourd'hui modérés par une personne. Celui-ci est différent.

  %p
    Lorsque vous rejoignez weWorkInNice en utilisant votre compte 
    = link_to "Twitter", "https://www.twitter.com"
    ou 
    = link_to "LinkedIn", "http://www.linkedin.com/"
    (ou d'autres), vous créez un profil personnel (Personne). Il n'y a que vous qui puissiez éditer ou supprimer ce profil.

  %p
    Ensuite, une fois connecté, vous pouvez ajouter d'autres Personnes de vos réseaux Twitter / LinkedIn, ainsi que des Entreprises, des Groupes, des Projets, des Produits et des Ressources, que vous y apparteniez ou non.

  %p
    Ce qui est amusant, c'est quand vous réalisez que chaque personne connectée peut ajouter ce que bon lui semble - mais peut aussi modifier et effacer ce que bon lui semble. Ce réseau requiert de la confiance car c'est un réseau où chacun peut modifier ou effacer un profil non-personnel, mais où chacun peut à nouveau le modifier ou le rajouter.

  %p
    Ce qui est amusant également, c'est qu'en contractant weWorkInNice, on obtient weWIN. Oui, nous y gagnons tous à nous faire confiance et à collaborer ensemble.

  %p
    Il y a bien sûr un risque que deux ou trois abus voient le jour, et nous serons sur le qui-vive, comptez sur nous. Mais en choisissant de faire de ce site un site ouvert, nous savons qu'un nombre infini d'excellentes initiatives verront le jour.

  %p
    L'histoire de weWorkInNice.com s'écrit toute seule, grâce à vous, avec vous. Nous sommes simplement là pour l'aider à s'écrire. Cette aventure, une fois de plus avec nous, est humaine.

  %p
    Un merci tout particulier à Laurent Lefils.

  %p
    Merci Nice, merci l'Azur.
  %p
    Nicolas, Geoffroy et Emmanuel.
